---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { parse as parseHtml } from "node-html-parser";

let title = "Jan Votava's Blog";
let description = "Random brainstorming about Rust, Typescript, Frontend development and other stuff.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/*.md");
const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
	);
});
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<div class="wrapper">
			<main class="content">
				<!-- <section class="intro">
					<h1>{title}</h1>
					<p>{description}</p>
				</section> -->
				<section aria-label="Blog post list">
					{posts.map(async ({ url, frontmatter, compiledContent }) => {
						const firstParagraph = parseHtml(await compiledContent())
							.querySelector('p:first-of-type');

						return <BlogPostPreview
							title={frontmatter.title}
							description={firstParagraph?.innerText || ""}
							date={frontmatter.date}
							url={url!}
						/>
					})}
				</section>
			</main>
		</div>
	</body>
</html>

<style>
	.content {
		margin-top: 4rem;
		margin-bottom: 8rem;
	}

	.intro {
		padding-bottom: 4rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}
</style>
